dialog[OS=WINNT] legend.insideTab {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom:5px;
  background-color: -moz-Field;
}

.textarea-container {
  margin:4px;
  overflow: hidden;  
}

textarea {
  margin: 0px;
  resize: none;
}

#quicktext-toolbar button {
  border:       0px;
  margin-left:  2px;
  margin-right: 2px;
  min-width:    auto;
}

#quicktext-toolbar {
  border-bottom: 1px solid var(--splitter-color);
}
