.quicktext-icon {
  list-style-image: url("resource://quicktext/assets/icon16.png");
}

dialog[OS=WINNT] legend.insideTab {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 5px;
  background-color: -moz-Field !important;
}

.textarea-container {
  margin: 4px;
  overflow: hidden;
}

textarea {
  margin: 0px;
  resize: none;
}

#script-list {
  overflow-y: auto;
  height: 100%;
  width: 100%
}

#scripthelpbutton {
  display: none;
}

#scripthelpbutton[data-selected-tab-index="2"][data-is-incompatible="true"] {
  display: block;
}

#box-defaultImport {
  overflow-y: auto;
  height: 120px;
  width: 100%
}

#box-storageLocations {
  overflow-y: auto;
  height: 120px;
}

#box-storageLocations richlistitem[data-active] {
  background-color: skyblue
}